<footer class="footer-marron py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Dulce Abrazo</h5>
                <p>La mejor pastelería de Bogotá</p>
            </div>
            <div class="col">
                <h5>Horarios</h5>
                <p>Lunes a Viernes: 8am - 7pm</p>
                <p>Sábados: 9am - 5pm</p>
                <p>Domingos: 10am - 3pm</p>
            </div>
            <div class="col">
                <h5>Contacto</h5>
                <p>luisosneider&#64;gmail.com</p>
                <p>+57 300 123 4567</p>
                <p>Bogotá, Colombia</p>
            </div>
        </div>
    </div>
</footer>